*,
*::before,
*::after {
  margin: 0rem;
  padding: 0; }

html {
  font-size: 80%; }

body {
  background-color: #e8e8e8;
  font-family: 'Designosaur', sans-serif;
  font-weight: 200;
  padding: 2% 5%;
  line-height: 1.7; }

.container {
  background-color: #fff; }

.deep-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent; }
  .deep-text--orange {
    background-color: #b01f24;
    text-shadow: rgba(249, 179, 75, 0.6) 0px 3px 3px; }
  .deep-text--grey {
    background-color: #383838;
    text-shadow: rgba(232, 232, 232, 0.5) 0px 2px 2px; }

hr {
  border: 0;
  border-bottom: 1px solid #bbbbbb; }

p {
  font-family: Arial, sans-serif;
  color: #bbbbbb; }

.heading-secondary {
  font-family: 'Designosaur', sans-serif;
  font-size: 1.5rem; }

.heading-tertiary {
  font-family: 'Designosaur', sans-serif;
  font-size: 1.2rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-tiny {
  margin-bottom: 1rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-tiny {
  margin-top: 1rem; }

.u-underline-text {
  text-decoration: underline; }

.u-italic-text {
  font-style: italic; }

@font-face {
  font-family: 'Designosaur';
  src: url("../font/Designosaur-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/Designosaur-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Designosaur-Regular.otf") format("opentype"), url("../font/Designosaur-Regular.svg") format("svg"), url("../font/Designosaur-Regular.ttf") format("truetype"), url("../font/Designosaur-Regular.woff") format("woff"), url("../font/Designosaur-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

.btn {
  border-radius: 100rem;
  transition: all 0.2s;
  box-shadow: #bbbbbb 0 3px 3px; }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 0.4rem 2.5rem; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(-1px); }
  .btn--orange {
    background-image: linear-gradient(to bottom, #f9b34b, #ea6006); }
  .btn--grey {
    background-image: linear-gradient(to bottom, #e8e8e8, #bbbbbb); }

.arrowbtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem; }
  .arrowbtn::after {
    position: absolute;
    content: "";
    width: 25%;
    height: 25%; }
  .arrowbtn--right::after {
    border-style: solid;
    transform: translate(-15%, 0) rotate(45deg); }
  .arrowbtn--left::after {
    border-style: solid;
    transform: translate(15%, 0) rotate(-135deg); }
  .arrowbtn--black {
    background-image: linear-gradient(to bottom left, #e8e8e8, #bbbbbb);
    box-shadow: 0 0 3px #383838;
    width: 2.5rem;
    height: 2.5rem; }
    .arrowbtn--black::after {
      border-width: 5px 5px 0 0;
      border-color: #383838; }
  .arrowbtn--orange {
    background-color: none;
    border: 3px solid #bbbbbb;
    width: 1rem;
    height: 1rem; }
    .arrowbtn--orange::after {
      border-width: 3px 3px 0 0;
      border-color: #bbbbbb; }

.stripe {
  background-image: linear-gradient(45deg, #fff 25%, #e8e8e8 25%, #e8e8e8 50%, #fff 50%, #fff 75%, #e8e8e8 75%, #e8e8e8 100%);
  background-size: 4px 4px; }

.composition {
  position: relative; }
  .composition__photo {
    width: 100%; }
    .composition__photo--p1 {
      border: 5px solid #e8e8e8;
      box-shadow: 0 3px 3px #bbbbbb;
      width: 100%; }
    .composition__photo::after {
      content: "";
      display: inline-block;
      width: 80%;
      height: 3%;
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #bbbbbb;
      border-radius: 100%;
      opacity: 0.8;
      filter: blur(0.4rem); }
  .composition .arrowbtn-pos-left {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(-50%, -50%); }
  .composition .arrowbtn-pos-right {
    position: absolute;
    top: 45%;
    left: 100%;
    transform: translate(-50%, -50%); }

.comic {
  border: 1px solid;
  box-shadow: 0 1px 1px #e8e8e8;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem;
  position: relative; }
  .comic::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.65rem solid transparent;
    border-right: 0px solid transparent;
    border-top: 1.6rem solid;
    position: absolute;
    bottom: -1.6rem;
    left: 0.9rem; }
  .comic::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 0px solid transparent;
    border-top: 1.5rem solid white;
    position: absolute;
    bottom: -1.5rem;
    left: 1rem; }
  .comic--grey {
    border-color: #e8e8e8;
    color: #bbbbbb; }
    .comic--grey::before {
      background-color: #bbbbbb; }

.footer .general-info {
  background-color: #383838;
  color: #bbbbbb; }
  .footer .general-info .row {
    padding: 2rem 5%; }
    .footer .general-info .row .logo-footer {
      height: 3rem;
      filter: grayscale(90%); }

.footer .copyright-contact {
  padding: 1rem 5%;
  color: #bbbbbb;
  background-color: #222222;
  display: flex;
  justify-content: space-between; }
  .footer .copyright-contact .author-design {
    display: inline-block;
    color: #f9b34b;
    font-style: italic;
    text-decoration: none; }
  .footer .copyright-contact .logo-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer .copyright-contact .logo-contact__img {
      margin-right: 0.5rem; }

.row {
  max-width: inherit;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.header {
  padding: 0 5%; }
  .header__text-box .heading-primary--main {
    line-height: 1.2;
    font-size: 3rem; }
  .header__text-box .heading-primary--sub {
    color: #bbbbbb; }

.navigation {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between; }
  .navigation .logo-box {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigation .logo-box .logo {
      height: 3rem; }
    .navigation .logo-box .logo-descrip {
      margin-left: 2rem;
      color: #bbbbbb; }
  .navigation .contact-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #cd2027; }
    .navigation .contact-box .contact:not(:last-child) {
      margin-right: 1rem; }

.or {
  display: inline-block;
  margin: auto 1.5rem; }

.feature {
  padding: 5rem 0; }
  .feature .row {
    padding: 0 5%; }
    .feature .row .feature-box {
      display: flex;
      flex-direction: row; }
      .feature .row .feature-box__icon {
        width: auto;
        height: 100%;
        padding-top: 0.5rem;
        margin-right: 1rem; }
      .feature .row .feature-box__text {
        display: flex;
        flex-direction: column;
        justify-content: center; }

.list-feature {
  padding: 5rem 5%; }
  .list-feature .col-1-of-3 .list-icon {
    float: left;
    margin: 0.7em; }
  .list-feature .col-1-of-3 .list-text {
    border-bottom: 1px solid #e8e8e8;
    color: #f9b34b;
    padding: 0.7rem; }

.screenshot {
  padding: 5rem 5%;
  position: relative; }
  .screenshot__img {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #e8e8e8;
    box-shadow: 0 2px 2px #bbbbbb; }
    .screenshot__img::after {
      content: "";
      display: inline-block;
      width: 80%;
      height: 3%;
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #bbbbbb;
      border-radius: 100%;
      opacity: 0.8;
      filter: blur(0.4rem); }

.customer-say {
  padding: 3rem 5%; }
  .customer-say .btn-bottom {
    text-align: center; }

.comment-textbox {
  position: relative; }
  .comment-textbox__text {
    font-style: italic;
    color: #bbbbbb;
    text-decoration: none; }
  .comment-textbox__reference {
    position: absolute;
    bottom: -2rem;
    left: 3.5rem;
    color: #383838; }
