@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin shadow-under-div {
    &::after {
        content: "";
        display: inline-block;
        width: 80%;
        height: 3%;
        
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
       
        background-color: $color-grey-dark;
        border-radius: 100%;
        opacity: 0.8;
        filter: blur(0.4rem);
    }
}