$color-red-dark: #b01f24;
$color-red-light: #d91725;
$color-red: #cd2027;

$color-grey-lighter: #fafafa;
$color-grey-light: #e8e8e8;
$color-grey-dark: #c7c7c7;

$color-white: #fff;

$color-orange: #ff9700;
$color-orange-dark: #ea6006;
$color-orange-light: #f9b34b;

$color-black-light: #383838;
$color-black-dark: #222222;

$gutter-vertical: 2rem;
$gutter-horizontal: 7rem;
$grid-width: inherit;

$padding-page: 5%;