.header {
    padding: 0 $padding-page;
    &__text-box {
        .heading-primary--main{
            line-height: 1.2;
            font-size: 3rem;
        }

        .heading-primary--sub {
            color: $color-grey-dark;
        }
    }
}