.composition {
    position: relative;

    &__photo {
        width: 100%;
        
        &--p1 {
            border: 5px solid $color-grey-light;
            box-shadow: 0 3px 3px $color-grey-dark; 
            width: 100%;
        }

        @include shadow-under-div;
        
    }
   

    .arrowbtn-pos-left {
        position: absolute;
        top: 45%;
        left: 0;
        transform: translate(-50%, -50%);
    }

    .arrowbtn-pos-right {
        position: absolute;
        top: 45%;
        left: 100%;
        transform: translate(-50%, -50%);
    }
}   

