@font-face {
    font-family: 'Designosaur';
    src: url("../font/Designosaur-Regular.eot"); /* IE9 Compat Modes */
    src:    url("../font/Designosaur-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
            url("../font/Designosaur-Regular.otf") format("opentype"), /* Open Type Font */
            url("../font/Designosaur-Regular.svg") format("svg"), /* Legacy iOS */
            url("../font/Designosaur-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
            url("../font/Designosaur-Regular.woff") format("woff"), /* Modern Browsers */
            url("../font/Designosaur-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}