@font-face {
    font-family: 'Designosaur';
    src: url('../../font/designosaur-regular.woff2') format('woff2'),
         url('../../font/designosaur-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}