@font-face {
    font-family: 'Designosaur';
    src: url('/font/designosaur-regular.woff2') format('woff2'),
         url('/font/designosaur-regular.woff') format('woff'),
         url('/font/Designosaur-regular.ttf') format('truetype'),
         url('/font/Designosaur-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}