.deep-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    
    &--orange {
        background-color: $color-red-dark;
        text-shadow: rgba($color-orange-light, 0.6) 0px 3px 3px;
    }

    &--grey {
        background-color: $color-black-light;
        text-shadow: rgba($color-grey-light, 0.5) 0px 2px 2px;
    }
}